{extend name="extra@admin/main"}
{block name='body'}
{include file="extra@admin/top"}
<div class="framework-body framework-sidebar-mini">
    {include file="extra@admin/left"}
    <div class="framework-container layer-main-container"></div>
</div>
{/block}
{block name="script"}
<script>
    require(['jquery'], function () {
        $('[data-reload]').hover(function () {
            $(this).find('.glyphicon').addClass('fa-spin');
        }, function () {
            $(this).find('.glyphicon').removeClass('fa-spin');
        });
    });
</script>
{/block}