{extend name="extra@admin/content"}
{block name="content"}
<style>
    .form-horizontal .col-sm-2 {
        width: 5%;
    }
    .form-horizontal .layui-form-label {
        width: 5%;
    }
</style>
<form onsubmit="return false;" action="__SELF__" data-auto="true" method="post" class='form-horizontal'>
    <div class="form-group">
        <label class="col-sm-2 control-label">收件邮箱</label>
        <div class='col-sm-8'>
            <input name="email" type="email" required="required" title="请输入邮箱" placeholder="输入邮箱" value="" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">邮箱标题</label>
        <div class='col-sm-8'>
            <input name="title" required="required" title="请输入邮箱标题" placeholder="输入邮箱标题" value="" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <div style="position:relative;margin-bottom: 10px;">
            <label class="layui-form-label label-required">邮件内容</label>
            <textarea placeholder="" name="content">这里可以放默认值</textarea>
            <script>
                require(['ckeditor'], function () {
                    var editor = window.createEditor('[name="content"]');
                    // 设置内容
                    editor.setData('{$vo.content|default="这是一条测试的邮件！"}');
                    // 获取内容
                    var content = editor.getData();
                });
            </script>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">发送邮件</button>
        </div>
    </div>
</form>
<script>
    layui.use('code', function () {
        layui.code({encode: true});
    });
</script>
{/block}