{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    {if auth("$classuri/add")}
    <button data-modal='{:url("$classuri/add")}' data-title="添加用户" class='layui-btn layui-btn-small'><i
            class='fa fa-plus'></i> 添加用户
    </button>
    {/if}
    {if auth("$classuri/del")}
    <button data-update data-field='delete' data-action='{:url("$classuri/del")}'
            class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除用户
    </button>
    {/if}
    {if auth("$classuri/upload")}
    <button data-modal='{:url("$classuri/upload")}' data-title="导入数据" class='layui-btn layui-btn-small'><i
            class='fa fa-upload'></i> 导入员工
    </button>
    {/if}
</div>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="__SELF__" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input name="username" value="{$Think.get.username|default=''}" placeholder="请输入用户名" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input name="phone" value="{$Think.get.phone|default=''}" placeholder="请输入手机号" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">电子邮箱</label>
        <div class="layui-input-inline">
            <input name="mail" value="{$Think.get.mail|default=''}" placeholder="请输入电子邮箱" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-small"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <div id="form1" style="overflow:auto;width:100%">
        <table class="table table-hover" width="auto" style="white-space:nowrap">
        <thead>
            <tr>
                <th class='list-table-check-td'>
                    <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
                </th>
                <th class='text-center'>用户名</th>
                <th class='text-center'>手机号</th>
                <th class='text-center'>电子邮箱</th>
                <th class='text-center'>登录次数</th>
                <th class='text-center'>最后登录</th>
                <th class='text-center'>状态</th>
                <th class='text-center'>操作</th>
            </tr>
        </thead>

        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td'>
                    <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
                </td>
                <td class='text-center'>{$vo.username|default=""}</td>
                <td class='text-center'>{$vo.phone|default=""}</td>
                <td class='text-center'>{$vo.mail|default=""}</td>
                <td class='text-center'>{$vo.login_num|default=""}</td>
                <td class='text-center'>{$vo.login_at|dateTime|default=""}</td>
                <td class='text-center'>
                    {if $vo.status eq 0}
                    <span style="color:#f00;">已禁用</span>
                    {elseif $vo.status eq 1}
                    <span style="color:#090">使用中</span>
                    {/if}
                </td>
                <td class='text-center nowrap'>
                    {if auth("$classuri/edit")}
                    <span class="text-explode">|</span>
                    <a data-modal='{:url("$classuri/edit")}?id={$vo.id}' href="javascript:void(0)">编辑</a>
                    {/if}
                    {if auth("$classuri/auth")}
                    <span class="text-explode">|</span>
                    <a data-modal='{:url("$classuri/auth")}?id={$vo.id}' href="javascript:void(0)">授权</a>
                    {/if}
                    {if auth("$classuri/pass")}
                    <span class="text-explode">|</span>
                    <a data-modal='{:url("$classuri/pass")}?id={$vo.id}' href="javascript:void(0)">密码</a>
                    {/if}
                    {if $vo.status eq 1 and auth("$classuri/forbid")}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/forbid")}'
                       href="javascript:void(0)">禁用</a>
                    {elseif auth("$classuri/resume")}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/resume")}'
                       href="javascript:void(0)">启用</a>
                    {/if}
                    {if auth("$classuri/del")}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'
                       href="javascript:void(0)">删除</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    </div>
    {if isset($page)}<p>{$page|raw}</p>{/if}
</form>
<script>
    window.laydate.render({range: true, elem: '#range-date', format: 'yyyy/MM/dd'});

    $(function () {
        $('input.title-input').on('click', function () {
            $.form.load('{:url("is_counselor")}', {check: $(this).attr('data-check'), value: this.value}, 'POST', function (ret) {
                return false;
            });
        });

    });
    $("#form1").scroll(function() {
        var l = $("#form1").scrollLeft();
        if (l > 0) {
            $(".table thead tr th:eq(0)").css({"position":"fixed","background-color":"#fff"});
            $(".table thead tr th:eq(1)").css({"position":"fixed","background-color":"#fff","margin-left":"30px","box-shadow":"5px 1px 5px rgb(147, 146, 146)"});
            $(".table tbody tr").each(function(){
                $(this).find("td:eq(0)").css({"position":"fixed","background-color":"#fff"});
                $(this).find("td:eq(1)").css({"position":"fixed","background-color":"#fff","margin-left":"30px","width":"64px","box-shadow":"4px 2px 4px rgb(147, 146, 146)"})
            })
        }else{
            $(".table thead tr th:eq(0)").css({"position":"static","background-color":"#F5F6FA"});
            $(".table thead tr th:eq(1)").css({"position":"static","background-color":"#F5F6FA","margin-left":"0px","box-shadow":"0px 0px 0px #fff"});
            $(".table tbody tr").each(function(){
                $(this).find("td:eq(0)").css({"position":"static","background-color":"#fff"});
                $(this).find("td:eq(1)").css({"position":"static","background-color":"#fff","margin-left":"0px","width":"auto","box-shadow":"0px 0px 0px #fff"})
            })
        }
    });
</script>
{/block}

