{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-export data-action='{:url("$classuri/export")}' class='layui-btn layui-btn-small'><i
            class='fa fa-backups'></i> 备份数据库
    </button>

</div>
{/block}

{block name="content"}
<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class="text-center">表名</th>
            <th class="text-center">数据量</th>
            <th class="text-center">数据大小</th>
            <th class="text-center">创建时间</th>
            <th class="text-center">备份状态</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box"  value='{$vo.name}' type='checkbox'/>
            </td>
            <td class="text-center">{$vo.name|default=""}</td>
            <td class="text-center">{$vo.rows|default=""}条</td>
            <td class="text-center">{$vo.data_length|default=""}</td>
            <td class="text-center">{$vo.create_time|default=""}</td>
            <td class="text-center">等待备份....</td>
            <td  class="text-center nowrap">
                {if auth("$classuri/optimize")}
                <span class="text-explode">|</span>
                <a data-optimize='{:url("$classuri/optimize")}?ids={$vo.name}'  href="javascript:void(0)">优化表</a>
                {/if}

                {if auth("$classuri/repair")}
                <span class="text-explode">|</span>
                <a data-repair='{:url("$classuri/repair")}?ids={$vo.name}'  href="javascript:void(0)">修复表</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</form>
<script>
    /*备份数据库*/
    $body.on('click', '[data-export]', function () {
        var obj=$(this);
        var ids = $(this).attr('data-export') || (function () {
                var data = [];
                return $($(this).attr('data-list-target') || 'input.list-check-box').map(function () {
                    (this.checked) && data.push(this.value);
                }), data.join(',');
            }).call(this);

        var tables;
        var action = $(this).attr('data-action');
        $(this).prop('disabled', true);
        $(this).html("正在发送备份请求...");
        $.post(action, {ids:ids}, function (data) {
            if (data.code == 1) {
                tables = data.data.tables;
                obj.html(data.msg + "开始备份，请不要关闭本页面！");
                backup(data.data.tab);
                window.onbeforeunload = function () {
                    return "正在备份数据库，请不要关闭！";
                };
            } else {
                layer.msg(data.msg,{icon:2,time:2000,shade: 0.1,});
                obj.html("立即备份");
                setTimeout(function () {
                    obj.prop('disabled', false);
                }, 1500);
            }
        });
        function backup(tab, status) {
            status && showmsg(tab.id, "开始备份...(0%)");
            $.get(action, tab, function (data) {
                if (data.code == 1) {
                    showmsg(tab.id, data.msg);
                    if (!$.isPlainObject(data.data.tab)) {
                        obj.prop('disabled', false);
                        obj.html("备份完成，点击重新备份");
                        window.onbeforeunload = function () {
                            return null;
                        };
                        return;
                    }

                    backup(data.data.tab, tab.id != data.data.tab.id,action);
                } else {
                    layer.msg(data.msg, 0);
                    obj.html("立即备份");
                    setTimeout(function () {
                        obj.prop('disabled', false);
                    }, 1500);
                }
            });
        }
        function showmsg(id, msg) {

        }
    });

    /**优化表*/
    $body.on('click', '[data-optimize]', function () {
        var action=$(this).attr('data-optimize');
        $.form.load(action, '', 'GET');
    });

    /**修复表*/
    $body.on('click', '[data-repair]', function () {
        var action=$(this).attr('data-repair');
        $.form.load(action, '', 'GET');
    });

    /*
     data-batch
     */
    $body.on('click', '[data-batch]', function () {
        var action=$(this).attr('data-batch');
        $.form.load(action, '', 'POST');
    });
    $body.on('click', '[data-cache]', function () {

        var action=$(this).attr('data-cache');
        $.form.load(action, '', 'POST');
    });



</script>
{/block}
