{extend name='extra@admin/content'}
{block name="content"}
<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">版本号</label>
        <div class="layui-input-block">
            <input type="text" name="verson_number" value='{$vo.verson_number|default=""}' required="required" title="版本号" placeholder="版本号" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">版本号名称</label>
        <div class="layui-input-block">
            <input type="text" name="verson_name" value='{$vo.verson_name|default=""}' required="required" title="版本号名称" placeholder="版本号名称" class="layui-input">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label layui-form-label label-required">版本更新说明</label>
        <div class="layui-input-block">
            <textarea name="conetnt" placeholder="请输入用户描述" title="版本更新说明" class="layui-textarea">{$vo.conetnt|default=""}</textarea>
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn menu-submit" type='submit'>保存数据</button>
    </div>
</form>
{/block}
