{extend name='extra@admin/content'}
{block name='content'}
<div class="panel panel-default" style="overflow:hidden">
    <div class="panel-heading">文章</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" name="news" action="__SELF__" data-auto="true" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">文章标题</label>
                <div class="layui-input-block">
                    <input maxlength="64" required="required" value="{$vo.title|default=''}" title="标题不能为空哦"
                           placeholder="请在这里输入标题" name='title' class="layui-input">
                    <input type="hidden" name="id">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文章作者</label>
                <div class="layui-input-block">
                    <input maxlength="12" required="required" value="{$vo.author|default=''}" title="作者不能为空哦"
                           placeholder="请在这里输入作者" name='author' class="layui-input">
                    <input type="hidden" name="id">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label label-required">封面图</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" onchange="$(this).nextAll('img').attr('src', this.value);"
                           readonly="readonly" placeholder="封面图" value="{$vo.cover_image|default=''}" name="cover_image"
                           required="required" title="请上传封面图"/>
                    <p class="help-block">文件最大2Mb，支持bmp/png/jpeg/jpg/gif格式</p>
                    <img style="width:112px;height:auto;" data-tips-image
                         src='{$vo.cover_image|default="__PUBLIC__/theme/default/img/image.png"}'/>
                    <a data-file="one" data-type="png,jpeg,jpg,gif" data-field="cover_image"
                       class='btn btn-link'>上传图片</a>
                </div>
            </div>

            <div style="position:relative;margin-bottom: 10px;">
                <label class="layui-form-label">文章内容</label>
                <textarea placeholder="" name="content">这里可以放默认值</textarea>
                <script>
                    require(['ckeditor'], function () {
                        var editor = window.createEditor('[name="content"]');
                        // 设置内容
                        editor.setData('{$vo.content|default=""}');
                        // 获取内容
                        var content = editor.getData();
                    });
                </script>
            </div>

            <div class="text-center">
                {if isset($vo.id)}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
                <button class="layui-btn menu-submit">保存数据</button>
                <input type="button" class="layui-btn menu-submit" onclick="javascript:history.back(-1);" value="返回上一页">
            </div>
        </form>
    </div>
</div>
<script>
    layui.use('code', function () {
        layui.code({encode: true});
    });
</script>
{/block}

