{extend name='extra@index/base'}
{block name="centent"}
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <h4 class="item-title">
                <p>
                    <a href="#">
                    <i class="layui-icon layui-icon-speaker"></i>公告：
                    <span>{if isset($noticeList.title)}{$noticeList.title}{/if}</span>
                    </a>
                </p>
            </h4>
            {foreach $articleList as $key=>$vo}
            <div class="item">
                <div class="item-box layer-photos-demo1 layer-photos-demo">
                    <img src="{$vo.cover_image|default='__PUBLIC__/theme/default/img/image.png'}" width="162" height="113"/>
                </div>
                <div class="item-box">
                    <a href="#">
                        <h3>{if isset($vo.title)}{$vo.title}{/if}</h3>
                        <h5>发布于：<span>{if isset($vo.create_at)}{$vo.create_at|dateTime}{/if}</span></h5>
                    </a>
                </div>
                <!--<div class="comment count">
                    <a href="#">评论</a>
                    <a href="javascript:;" class="like">点赞</a>
                </div>-->
            </div>
            {/foreach}
        </div>
        <div class="item-btn">
            <button class="layui-btn layui-btn-normal">下一页</button>
        </div>
    </div>
</div>
{/block}
