{extend name='extra@admin/content'}
{block name="content"}
<div style="position:relative">
    <textarea placeholder="" name="content">这里可以放默认值</textarea>
    <script>
        require(['ckeditor'], function () {
            var editor = window.createEditor('[name="content"]');
            // 设置内容
            editor.setData('');
            // 获取内容
            var content = editor.getData();
            console.log(content);
        });
    </script>
</div>

<pre class="layui-code" lay-title="HTML代码">
    <textarea placeholder="" name="content">这里可以放默认值</textarea>
</pre>

<pre class="layui-code" lay-title="javascript代码">
require(['ckeditor'], function () {
    var editor = window.createEditor('[name="content"]');
    // 设置内容
    editor.setData('修改内容');
    // 获取内容
    var content = editor.getData();
    console.log(content);
});
</pre>
<script>
    layui.use('code', function () {
        layui.code({encode: true});
    });
</script>
{/block}